header {
    width: 100%;
    z-index: 99;
    position: fixed;
    padding: 1.5rem 0;
    @include transition(padding, 0.3s);

    .nav-list,
    .navbar,
    .header-wrapper {
        @extend .flexRow-between;
    }

    .nav-brand {
        margin-right: 2rem;
    }

    .social-icons {

        svg {
            fill: white;
        }

        a {
            padding: 0 0.8rem;
        }
    }
}

.nav-list {
    gap: 1rem;

    .nav-item {
        display: flex;
    }

    .nav-link {
        font-size: 1.4rem;
        padding: 1.5rem 1rem;
        color: $color-Dark-800;
        @include transition(color, 0.2s);

        &:hover {
            color: $color-primary;
        }
    }
}

.sticky {
    padding: 1rem 0 !important;
    box-shadow: $box-shadow-sm;
    background-color: $color-tertiary;

    svg {
        fill: darken($color: $color-primary, $amount: 15%) !important;
    }
}

.hamburger-menu {
    gap: 0.5rem;
    display: none;
    width: 4.5rem;
    height: 4.5rem;
    cursor: pointer;
    border-radius: 4rem;
    padding: 0.6rem 0.8rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: $color-primary;
    @include transition(background-color, 0.3s);

    .line {
        width: 100%;
        height: 0.2rem;
        @include transition(width, 0.3s);
        background-color: $color-light-100;
    }

    &:hover {
        background-color: darken($color: $color-primary, $amount: 10%);

        .line:first-child {
            width: 25%;
        }

        .line:nth-child(2) {
            width: 50%;
        }
    }
}

.sidebar {
    top: 0;
    width: 30%;
    right: -100%;
    height: 100vh;
    position: fixed;
    @include transition(right, 0.5s);
    background-color: $color-primary;

    .sidebar-wrapper {
        display: flex;
        height: 100%;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .nav-link {
        padding: 2rem;
        font-size: 1.6rem;
        color: $color-light-100;
        @include transition(transform, 0.3s);

        &:hover {
            color: $color-light-100;
            transform: translateX(0.5rem);
        }
    }

    .close-sidebar {
        position: absolute;
        top: 5%;
        right: 5%;

        span {
            color: $color-light-100;
            font-style: italic;
            letter-spacing: 0.2rem;
        }

        svg {
            margin-left: 0.3rem;
            transform: translateY(6px);
        }
    }
}


#hero-image {
    padding: 0;
    line-height: 0;
}

.hero-content {
    width: 35%;
    padding: 0 2.5rem;
    position: absolute;
    line-height: initial;
    top: 20%;
    left: 20%;

    h1 {
        color: $color-Dark-800;
        font-family: $fm-primary;
    }

    span {
        margin-left: 3rem;
        color: $color-Dark-800;
        font-family: $fm-secondary;
    }

    p {
        margin-bottom: 3rem;
    }

    .hero-bg {
        top: -4%;
        left: -35%;
        position: absolute;
    }
}

.infobar {
    width: 100%;
    padding: 1rem;
    text-align: center;
    background-color: $color-tertiary;

    p {
        font-size: $fs-bar;
    }
}



// -- MEDIA QUERIES -------------------------------------------------------------------


@media screen and (max-width: 1024px) {

    #icons-desktop,
    .nav {
        display: none;
    }

    .hamburger-menu {
        display: flex;
    }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {


    .hero-content {
        top: 20%;
        left: 18%;
        width: 50%;
    }

    .sidebar {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {

    .nav-brand img {
        width: 7rem;
    }

    .hero-content {
        left: 5%;
        width: 90%;

        h1 {
            font-size: 3.6rem;
        }
    }

    .sidebar {
        width: 100%;
    }
}

@media screen and (max-width: 300px) {

    .hero-content {
        display: none;
    }
}