.btn-arrow {
    font-size: $fs-btn;
    color: $color-Dark-800;
    letter-spacing: 0.1rem;
    padding: 1rem 1rem 1rem 0;
    @include transition(color, 0.3s);

    svg {
        transform: translateY(0.1rem);
        @include transition(transform, 0.3s);
    }

    &:hover {
        color: $color-primary;

        svg {
            transform: translate(0.3rem, 0.1rem);
        }
    }
}

.btn-submit {
    border: none;
    padding: 1rem 1.5rem;
    cursor: pointer;
    transform: translateX(-1.2rem);
    border-radius: 0 0.6rem 0.6rem 0;
    background-color: $color-primary;
    @include transition(background-color, 0.3s);

    &:hover {
        background-color: darken($color: $color-primary, $amount: 15%);
    }
}

.btn-outline {
    font-size: $fs-btn;
    display: inline-block;
    color: $color-Dark-800;
    padding: 1.2rem 4.8rem;
    letter-spacing: 0.1rem;
    border: 1px solid black;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out,
        color 0.3s ease-in-out,
        border 0.3s ease-in-out;

    &:hover {
        color: $color-light-100;
        border: 1px solid $color-primary;
        background-color: $color-primary;
    }
}