.container {
	width: 80%;
	height: 100%;
	margin-inline: auto;
	max-width: var(--width-container);
}

section {
	padding: var(--section-padding) 0;
}

.w-100 {
	max-width: 100%;
}

.d-flex {
	display: flex;
}

.horz-line {
	width: 6rem;
	height: 0.2rem;
	position: absolute;
	top: 4%;
	left: 0;
	background-color: var(--color-primary);
}

.fade-in {
	opacity: 0;
	transform: translateY(5rem);
	transition: transform 0.6s ease-in, opacity 0.7s ease-in;

	&.appear {
		opacity: 1;
		transform: translateY(0rem);
	}
}

@media screen and (max-width: 1200px) {
	.container {
		width: 90%;
	}
}
